PORT=3002
MAILEROO_API_KEY=your_maileroo_api_key
EMAIL_FROM=your_email@example.com
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=your_token
REDIS_TLS=false
CORE_API_URL=http://localhost:3000
INTERNAL_API_KEY=your_internal_api_key
B2_ENDPOINT=https://s3.us-west-004.backblazeb2.com
B2_REGION=us-west-004
B2_ACCESS_KEY_ID=your_b2_key_id
B2_SECRET_ACCESS_KEY=your_b2_application_key
B2_BUCKET_NAME=your_bucket_name
